body {
    background: url("https://images2.alphacoders.com/801/801937.jpg");
    background-position: center;
    background-size: cover;
    font-family: lato;
    color: white;
}

html {
    height: 100%;
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container{
    background-color: black;
}

.main {
    padding-bottom: 150px;
}

h3 {
    color: black;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis path {
            fill: none;
            stroke: none;
}

.bar {
            fill: steelblue;

}

h3{
    color: black;
}

.area{
    height: 550px;
}
h5{
    color: black;
}

.circle {
    height: 100px;
    width: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: white;
    }

.spaceBtw {
    padding-top: 20px;
    padding-left: 20px;
}

.space{
    padding-left: 5px;
    padding-right: 5px;
}